.group-label {
    font-size: .9rem;
    font-weight: 700;
    padding-left: 10px;
    padding-right: 10px;
    text-transform: uppercase;
    position: absolute;
    top: -15px;
    left: -10px;
    background: #fff;
}