.wrapper {
  width: 40px;
  min-height: 100vh;
  background-color: #2e3230;
  color: #fff;
  transition: all 0.1s ease-out;
  position: absolute;
  z-index: 10;

  .brand > img {
    display: none;
  }

  &:hover {
    width: 250px;
    .brand > img {
      display: block;
    }
    .brand > h3 {
      pointer-events: all;
      display: block;
    }
  }
}

.wrapper.show {
  position: relative;
  width: 250px;
  .brand > img {
    display: block;
  }

  .brand > h3 {
    pointer-events: all;
    display: block;
  }
}

.brand {
  padding: 10px;
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;

  & > h3 {
    pointer-events: none;
    display: none;
  }
}

.brand > img {
  width: 50px;
  height: 50px;
  border: 1px solid transparent;
  border-radius: 50%;
  object-fit: contain;
  transition: all 0.1s ease-out;
}
